# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build / packaging artifacts
*.txt
src/youtube_comment_intelligence_system.egg-info/*
.hf-cache/
myNote.md

# Virtual environment
.venv/
.vscode/

# Environment variables / secrets
.env

# Data
*.csv
*.db

# Test
test.*
convert_onnx.py

# Model
onnx_models/